{template "content","header"}

{template "content","banner"}

<div class="space_hx">&nbsp;</div>
<div class="scd clearfix">
    <div class="scd_l">
        <div class="name">关于驿家<em>/ABOUT</em></div>
        {pc:content action="category" catid="0"}
        <ul class="s_nav clearfix">
            {loop $data $v}
                <li><a href="{$v['url']}">{$v['catname']}</a></li>
            {/loop}
        </ul>
        {/pc}
    </div>

    <div class="scd_r">
        <div class="r_name"><span>公司简介</span></div>
        <div class="r_ctn clearfix">
            <img src="Assets/upload/pic1.jpg" width="355" height="228" alt="" style="float:right; margin-left:15px;"/>
            驿家物业是在香港首创集团业务中应运而生，伴随首创集团的成长，如今驿家物业服务（深圳）有限公司已在2015年9月强势进入深圳，驿家物业依托首创集团金融服务体系架构，聚焦于稳健的高收益财富目标，具备为多元化的资产配置服务功能为客户提供优质保障及服务。
            <p style="text-indent:2em">受深圳房地产火热的销售及投资客对大深圳及前海自贸区整体经济圈的启发，首创集团开始就将物业管理作为今后的产品主线作为发展之一，并提出了在管理服务上一定要超前的理念打破传统的物业管理方式提出“信任、托付、不一样的租住生活的理念”。正是由于有这样的高标准与高起点，铸就了驿家物业超前的服务意识和敢为天下先的创新特质。从2015年9月首创集团旗下第一家物业管理公司成立，代表了驿家物业充满生命力的企业愿景，意味着与业主携手走向更美好的生活。同时，新的标志还预示着驿家物业更富生命力的发展前景，将成为首创集团重要而独立的组成部分。</p>
        </div>
    </div>
</div>
{template "content","footer"}