@import "normalize.css";
input,p,body,header,footer,figure,img{margin: 0;padding: 0;list-style: none;border: none;}
a{text-decoration: none}
img{border: none}
body{
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
}
.part1{
     width: 1000px;
     height:860px;
     margin:0 auto ;
     margin-top:32px;
 }
.up{
    width: 289px;
    height:60px;
    margin: 0 auto;
    background: url("../images/hwb/hwb-21.png");
    margin-bottom:56px;
}
.down{
    width:1000px;
    height:384px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.down1{
    width:1000px;
    height:384px;
    margin: 0 auto;
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.down-pic-1{
     width: 316px;
     height: 316px;
     background: url("../images/hwb/hwb-22.png") no-repeat;
 }
.down-pic-f{
    width: 316px;
    height: 316px;
    background: url("../images/hwb/hwb-23.png") no-repeat;
}
.down-pic-3{
    width: 316px;
    height: 316px;
    background: url("../images/hwb/hwb-24.png")no-repeat;
}
.down-word-1{
      width: 316px;
      height: 68px;
      line-height: 68px;
      text-align: center;
      font-size: 20px;
      color:#7a7979;
      margin-top: -18px;
      margin-left: -20px;
  }
.down-word-f{
    width: 316px;
    height: 68px;
    line-height: 68px;
    text-align: center;
    font-size: 20px;
    color:#7a7979;
    margin-top: -18px;
    margin-left: -20px;
}
.down-word-3{
    width: 316px;
    height: 68px;
    line-height: 68px;
    text-align: center;
    font-size: 20px;
    color:#7a7979;
    margin-top: -18px;
    margin-left: -20px;
}
.more{
    width: 90px;
    height: 26px;
    border:1px solid #FE1F1F;
    margin: 0 auto;
    margin-top:75px;
    margin-bottom: 70px;
    color:#FE1F1F;
    font-size:22px;
    text-align: center;
    line-height: 26px;
}
/*第二部分*/
.part2{
    width: 1000px;
    height:860px;
    margin:0 auto ;
    margin-top:32px;
}
.up-2{
    width: 289px;
    height:60px;
    margin: 0 auto;
    background: url("../images/hwb/hwb-211.png");
    margin-bottom:56px;
}
.down-2{
    width:1000px;
    height:384px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.down1-2{
    width:1000px;
    height:384px;
    margin: 0 auto;
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.down-pic-1-2{
    width: 316px;
    height: 316px;
    background: url("../images/hwb/hwb-25.png") no-repeat;
}
.down-pic-2-2{
    width: 316px;
    height: 316px;
    background: url("../images/hwb/hwb-26.png") no-repeat;
}
.down-pic-3-2{
    width: 316px;
    height: 316px;
    background: url("../images/hwb/hwb-27.png")no-repeat;
}
.down-word-1-2{
    width: 316px;
    height: 68px;
    line-height: 68px;
    text-align: center;
    font-size: 20px;
    color:#7a7979;
    margin-top: -18px;
    margin-left: -20px;
}
.down-word-2-2{
    width: 316px;
    height: 68px;
    line-height: 68px;
    text-align: center;
    font-size: 20px;
    color:#7a7979;
    margin-top: -18px;
    margin-left: -20px;
}
.down-word-3-2{
    width: 316px;
    height: 68px;
    line-height: 68px;
    text-align: center;
    font-size: 20px;
    color:#7a7979;
    margin-top: -18px;
    margin-left: -20px;
}






.down1-2-2{
    width:1000px;
    height:384px;
    margin: 0 auto;
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.down-pic-1-2-2{
    width: 316px;
    height: 316px;
    background: url("../images/hwb/hwb-28.png") no-repeat;
}
.down-pic-2-2-2{
    width: 316px;
    height: 316px;
    background: url("../images/hwb/hwb-29.png") no-repeat;
}
.down-pic-3-2-2{
    width: 316px;
    height: 316px;
    background: url("../images/hwb/hwb-210.png")no-repeat;
}
.down-word-1-2-2{
    width: 316px;
    height: 68px;
    line-height: 68px;
    text-align: center;
    font-size: 20px;
    color:#7a7979;
    margin-top: -18px;
    margin-left: -20px;
}
.down-word-2-2-2{
    width: 316px;
    height: 68px;
    line-height: 68px;
    text-align: center;
    font-size: 20px;
    color:#7a7979;
    margin-top: -18px;
    margin-left: -20px;
}
.down-word-3-2-2{
    width: 316px;
    height: 68px;
    line-height: 68px;
    text-align: center;
    font-size: 20px;
    color:#7a7979;
    margin-top: -18px;
    margin-left: -20px;
}


/*第三部分*/
.partt{
    width: 1000px;
    height:440px;
    margin:0 auto ;
    margin-top:32px;
}
.up-t{
    width: 289px;
    height:60px;
    margin: 0 auto;
    background: url("../images/hwb/hwb-212.png");
    margin-bottom:56px;
}
.down-t{
    width:1000px;
    height:384px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.down1-t{
    width:1000px;
    height:384px;
    margin: 0 auto;
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.down-pic-1-t{
    width: 316px;
    height: 316px;
    background: url("../images/hwb/hwb-213.png") no-repeat;
}
.down-pic-2-t{
    width: 316px;
    height: 316px;
    background: url("../images/hwb/hwb-214.png") no-repeat;
}
.down-pic-3-t{
    width: 316px;
    height: 316px;
    background: url("../images/hwb/hwb-215.png")no-repeat;
}
.down-word-1-t{
    width: 316px;
    height: 68px;
    line-height: 68px;
    text-align: center;
    font-size: 20px;
    color:#7a7979;
    margin-top: -18px;
    margin-left: -20px;
}
.down-word-2-t{
    width: 316px;
    height: 68px;
    line-height: 68px;
    text-align: center;
    font-size: 20px;
    color:#7a7979;
    margin-top: -18px;
    margin-left: -20px;
}
.down-word-3-t{
    width: 316px;
    height: 68px;
    line-height: 68px;
    text-align: center;
    font-size: 20px;
    color:#7a7979;
    margin-top: -18px;
    margin-left: -20px;
}